# Temporary editor files #
##########################
*~

# AFS temporary files #
#######################
.__afs*

# Temporary (build) files #
###########################
*.bak
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
ltmain.sh
makefile
makefile.in
missing

# Archived files #
##################
include/*.*-*
include/*.*.orig
src/*.*-*
src/*.*.orig
# Compiled source #
###################
src/*.o
src/*.lo
src/*.la
src/.deps/*
src/.libs/*
examples/cafeTest/*.*-
doc

